@media (min-width: 320px) and (max-width: 767px){
.navbar-brand>img {
width: 120px;
}
.navbar-header {
margin: 0px !important;
}
.navbar-toggle {
margin-right: 0px;
}
.navbar-nav {
float: left;
margin: 0;
margin-top: 0px;
width: 100%;
background: #312926;
padding-left: 15px;
margin-top: 10px;
padding-bottom: 10px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: transparent;
}
header li.sign-up a, li.login a{
margin-bottom: 12px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
background-color: #dd5a5a;
}
.navbar-default .navbar-toggle {
border-color: #dd5a5a;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #fff;
}
.navbar-toggle {
background-color: #dd5a5a;
margin-top: 2px;
}
.navbar-default {
padding-bottom: 0px;
}
.first .m-inner-wrap h2 {
font-size: 30px;
margin-top: 110px;
}

.m-inner-wrap > p {
font-size: 18px;
}
.section.first ul li {
width: 124px;
padding: 10px;
margin: 0px 2px;
transition: 0.5s;
}
.section.first ul li img {
min-height: 34px;
margin-bottom: 8px;
width: 39px;
}
li.indi-active a::before {
width: 30px;
}
.nav-indicatar li.indi-active a {
margin-left: 20px;
}
.nav-indicatar li a::before {
left: -40px;
}
.nav-indicatar {
display: none;
}
.m-inner-wrap {
width: 100%;
float: left;
position: relative;
}
.arrow-down {
margin-top: 20px;
padding-bottom: 20px;
}
.tow-dean {
width: 100%;
float: left;
bottom: 0px;
}
.tow-dean .left-side {
padding: 4px 33px;


}
.tow-dean .left-side h4 {
font-size: 17px;
padding-bottom: 7px;
margin-bottom: 7px;
}
.tow-dean .left-side p {
font-size: 15px;
margin-bottom: 0px;
}
.tow-dean .right-side {
width: 100%;
float: left;

}
.tow-dean .right-side h3 {
font-size: 30px;
margin-top: 12px;

}
.tow-dean .right-side .location {
margin-top: 7px;
}
.tow-dean .right-side .location p {
font-size: 9px;
margin-left: 20px;
width: 55%;
letter-spacing: 0px;
margin-bottom: 0px;
line-height: 30px;
}
.tow-dean .right-side .location a {
float: right;
padding: 8px 15px;
font-size: 11px;

}
.tow-dean .right-side > p {
font-size: 15px;
margin-bottom: 0px;
padding-left: 30px;
}
.tow-dean .left-side {
background: #dd5a5a;
color: #fff;
padding: 4px 33px;
width: 100%;
float: left;
}

.copy-right p {
line-height: 20px;

}
.section.third {
background: #f4f4f4 !IMPORTANT;
padding-top: 30px;
padding-bottom: 30px;
width: 100%;
float: left;
}
.section.third h5 {
font-size: 15px;
}
.three-sec figure img {
height: 130px;
}
.three-sec figure::before, .three-sec figure::after{
display:none;
}
.three-sec figcaption {
margin-top: 30px;
padding: 0px 0px;
}
.apply {
position: absolute;
left: 0;
right: 0;
margin: auto;
top: 11px;
padding: 0px 20px;
}
.get-started h2 {
font-size: 18px;
line-height: 1.25;
letter-spacing: 1px;
}
.get-started h4 br {
display: none;
}
.get-started h4 {
font-size: 15px;
margin-bottom: 0px;
margin-top: 0px;
}
.carousel-control {
top: 18%;
}
.get-started .button-start {
background-color: #dd5a5a;
width: 205px;
height: 45px;
line-height: 45px;
font-size: 16px;
}
.carousel-inner .item {
height: 60vh;

}
.listing-banner .banner-text h3 {
font-size: 28px;
line-height: 35px;
}
.listing-banner .banner-text select {
width: 260px;
height: 50px;
font-size: 15px;
}
.listing-banner .banner-text {
margin-top: 130px;
}
.listing-banner {
height: 425px;
background-size: cover;
}
.navbar-header {
margin: 0px !IMPORTANT;
}
figure.signl-img img {
height: auto;
}
figure.double-img img {
height: auto;
}
figure.three-img img {
height: auto;
}
.get-started.inner h2 {
margin-top: 20px;
}
.get-started.inner {
background-repeat: no-repeat;
height: 228px;
background-position: center;
background-size: cover;
}
section#indicate {
margin-top: 0px;
}
.listing-banner.development h3 {
max-width: 100%;
}
.inner-detail:nth-child(even) .right-side {
padding-left: 0px;
}
.right-side figcaption a {
font-size: 15px;
width: 100%;
height: 45px;
line-height: 45px
}
.right-side figcaption span {
font-size: 20px;
width: 100%;
float: left;
}
.right-side figcaption h3 br {
display: none;
}
.right-side figcaption h3 {
font-size: 21px;
line-height: 28px;

}
.deve-middle .inner-detail .right-side {
margin-left: 10px;
margin-top: 0px;
}
.right-side figcaption h4 {
font-size: 17px;
margin-bottom: 20px;
}
.deve-middle .inner-detail {
margin-bottom: 0px;
margin-top: 0px;
display: flex;
flex-flow: row wrap;
}
.inner-detail:nth-child(even) figure {
top: 0px;
}
.deve-middle figure img {
height: auto;
}
.inner-detail:nth-child(even) div:first-child {
order: 2;
display: flex;
}
.inner-detail:nth-child(even) div:last-child {
order: 1;
}
.listing-banner.development {
margin-bottom: 20px;
}
.inner-detail > div {
padding: 0px 15px;
margin-top: 20px;
}
.deve-detail .detail-left img {
width: 100%;
border-radius: 5px;
height: auto;
transition: 0.5s;
}
.detail-right {
margin-top: 60px;
padding-left: 0px;
}
.deve-detail .detail-right h5 {
line-height: 20px;
font-size: 18px;

}
.detail-feature ul li h6 {
font-size: 16px;
}
.detail-feature ul li h4 {
font-size: 14px;
}
.detail-feature p {
font-size: 18px;
line-height: 23px;
}
.detail-feature {
margin-top: 40px;
padding: 30px 0;
padding-bottom: 40px !important;

}
.deve-detail .detail-right h3 {
font-size: 23px;

line-height: 24px;
}
.detail-feature ul li {
width: 46%;
}
.deve-detail.second-view .detail-left {
margin-top: 0px;
}
.detail-right ul li img {
width: 77%;
}
.detail-right ul li {
width: 49%;
margin-top: 10px;
margin-bottom: 20px;
}
.ability .ability-inner {
margin-bottom: 20px;
}
.ability-inner figcaption h2 {
font-size: 15px;
}
.ability-inner figcaption .heart-sec a {
background: #dd5a5a;
width: 45px;
height: 45px;
font-size: 12px;
line-height: 17px;

}
.navbar-nav li a::after{
display:none;
}
}
@media (min-width: 768px) and (max-width: 992px){
.navbar-brand > img {
display: block;
width: 130px;
margin-top: 8px;
}
.navbar-nav li {
margin-right: 14px;
}
header ul li a {
font-size: 14px;
}
.three-sec figure img {
height: 120px;
}
.tow-dean .left-side {
width: 40%;
}
.tow-dean .right-side {
width: 60%;
}
.tow-dean .left-side p {
font-size: 14px;
}
.tow-dean .right-side h3 {
color: #fff;
font-size: 35px;
}
.tow-dean .right-side .location p {
font-size: 13px;
}

.three-sec p {
font-size: 13px;
line-height: 20px;
}
.three-sec figcaption {
padding: 0px 10px;
}
.three-sec a {
font-size: 12px;
letter-spacing: 0px;
transition: 0.5s;

}
.three-sec figure::after {
top: 60px;
}
.get-started h4 {
text-align: center;
font-size: 20px;
}
.top-img {
width: 100%;
float: left;
margin-top: 60px;

}
.top-img img {
width: 100%;
height: 390px;
object-fit: cover;
}
ul.social-icon li {
margin-right: 7px;

}
.apply {

position: absolute;
left: 0;
right: 0;
margin: auto;
top: 351px;

}
.section.get-started {

padding-top: 375px;

}
section#indicate {
margin-top: 0px;
}
.listing-banner .banner-text h3 {
font-size: 45px;
}
figure.double-img img {
width: 100%;
height: 166px;
}
.listing-middle .brooklyn{
margin-bottom: 21px;
}
figure.three-img img {
height: 230px;
}
.listing-middle .brooklyn figcaption h4 {
font-size: 22px;

}
.get-started.inner {
background-size: cover;
height: 508px;
background-position: center;
}
figure.signl-img img {
width: 100%;
height: 352px;
}
.listing-banner {
height: 500px;
background-size: cover;
margin-bottom: 60px;
background-position: center;
}
.listing-banner .banner-text {
margin-top: 150px;
}
.right-side figcaption h3 {
font-size: 25px;
line-height: 32px;
margin-bottom: 30px;
margin-top: 0px;
}
.right-side figcaption h3::before {
height: 81%;
width: 6px;
top: 13px;
left: -30px;
}
.right-side figcaption h4 {
font-size: 18px;
margin-bottom: 20px;
}
.right-side figcaption p {
font-size: 14px;
line-height: 19px;
}
.right-side figcaption a {
font-size: 16px;
width: 250px;
height: 45px;
line-height: 45px;
margin-top: 20px;
}
.inner-detail:nth-child(even) .right-side {
padding-left: 0px;
}
.deve-middle .inner-detail .right-side {
margin-left: 30px;
height: 470px;

}
.listing-banner.development {
margin-bottom: 40px;
}
.deve-middle figure img {
width: 100%;
height: 470px;
transition: 0.5s;
object-fit: cover;
}
.deve-detail .detail-right h3 {
font-size: 27px;
line-height: 30px;
}
.deve-detail .detail-right h5 {
font-size: 15px;
line-height: 20px;
margin-top: 12px;
}

.detail-right {
    width: 100%;
    float: left;
    margin-top: 20px;
    padding-left: 11px;
}
.detail-feature p {
    font-size: 15px;
	}
	.detail-feature ul li {
    width: 26.6%;
}
.ability-inner figcaption h2 {
    font-size: 15px;
}
figcaption .rental ul li:nth-child(2) {
    margin: 0px 6px;
}
.ability-inner figcaption .heart-sec a {
    background: #dd5a5a;
    width: 45px;
    height: 45px;
    font-size: 12px;
    line-height: 17px;
}
.ability .ability-inner figure img {
    width: 100%;
    height: 125px;
    transition: 0.5s;
}
}
@media (min-width: 993px) and (max-width: 1200px){
.apply {

position: absolute;
left: 0;
right: 0;
margin: auto;
top: 351px;

}
.section.get-started {
padding-top: 375px;

}
figure.three-img img {
height: 300px;
}
figure.signl-img img {
height: 470px;
}
figure.double-img img {
height: 220px; 
}
.listing-banner .banner-text h3 {
font-size: 55px;
}
.right-side figcaption h3 {
font-size: 38px;
}
.right-side figcaption h4 {
font-size: 16px;
}
.inner-detail:nth-child(even) .right-side {
padding-left: 0px;
}
.detail-feature ul li {
    margin: 2px;
}
.deve-detail .detail-right h3 {
    font-size: 40px;
	}
	.deve-detail .detail-right h5 {
    font-size: 17px;
    line-height: 34px;
    margin-top: 4px;
}
.ability .ability-inner figure img {
    width: 100%;
    height: 164px;
    transition: 0.5s;
}
.ability-inner figcaption h2 {
    font-size: 16px;
	}
}

@media (min-width: 1201px) and (max-width: 1430px){
.apply {

position: absolute;
left: 0;
right: 0;
margin: auto;
top: 351px;
}
.section.get-started {
padding-top: 375px;

}
.inner-detail:nth-child(even) .right-side {
padding-left: 10px;
}


}