
@font-face {
    font-family: "Proxima Nova S W01SC Thin";
    src: url('font/proxima nova thin.eot');
    src: url('font/proxima nova thin.eot?#iefix') format("embedded-opentype"), url('font/proxima nova thin.woff') format("woff"), url('font/proxima nova thin.ttf') format("truetype"), url('font/proxima nova thin.svg#Proxima Nova S W01SC Thin') format("svg")
}

@font-face {
    font-family: proxima_novalight;
    src: url(font/proxima_nova_light-webfont.eot);
    src: url(font/proxima_nova_light-webfont.eot?#iefix) format('embedded-opentype'), url(font/proxima_nova_light-webfont.woff) format('woff'), url(font/proxima_nova_light-webfont.ttf) format('truetype'), url(font/proxima_nova_light-webfont.svg#proxima_novalight) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: proxima_nova_rgregular;
    src: url(font/proxima_nova_reg-webfont.eot);
    src: url(font/proxima_nova_reg-webfont.eot?#iefix) format('embedded-opentype'), url(font/proxima_nova_reg-webfont.woff) format('woff'), url(font/proxima_nova_reg-webfont.ttf) format('truetype'), url(font/proxima_nova_reg-webfont.svg#proxima_nova_rgregular) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: proxima_novasemibold;
    src: url(font/proxima_nova_sbold-webfont.eot);
    src: url(font/proxima_nova_sbold-webfont.eot?#iefix) format('embedded-opentype'), url(font/proxima_nova_sbold-webfont.woff) format('woff'), url(font/proxima_nova_sbold-webfont.ttf) format('truetype'), url(/font/proxima_nova_sbold-webfont.svg#proxima_novasemibold) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: proxima_nova_rgbold;
    src: url(font/proxima_nova_bold-webfont.eot);
    src: url(font/proxima_nova_bold-webfont.eot?#iefix) format('embedded-opentype'), url(font/proxima_nova_bold-webfont.woff) format('woff'), url(font/proxima_nova_bold-webfont.ttf) format('truetype'), url(font/proxima_nova_bold-webfont.svg#proxima_nova_rgbold) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
  font-family: 'ProximaNovaSW01SC-Thin';
  src: url('font/ProximaNovaSW01SC-Thin.woff') format('woff'),
       url('font/ProximaNovaSW01SC-Thin.ttf') format('truetype'),
       url('font/ProximaNovaSW01SC-Thin.svg#ProximaNovaSW01SC-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima nova thin';
  src: url('font/proxima nova thin.eot');
  src: url('font/proxima nova thin.woff2') format('woff2'),
       url('font/proxima nova thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Black';
  src: url('font/ProximaNova-Black.eot');
  src: url('font/ProximaNova-Black.woff2') format('woff2'),
       url('font/ProximaNova-Black.woff') format('woff'),
       url('font/ProximaNova-Black.ttf') format('truetype'),
       url('font/ProximaNova-Black.svg#ProximaNova-Black') format('svg'),
       url('font/ProximaNova-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*header section css*/


header {
    width: 100%;
    float: left;
    position: absolute;
    z-index: 999;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: transparent;
}
.navbar-default {
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid #626262;
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 12px 0px;
}
.navbar-nav {
    float: right;
    margin: 0;
margin-top: 9px;


}
.navbar-nav li a::after {
    content: "";
    background: #dd5a5a;
    position: absolute;
    bottom: -19px;
    width: 0%;
    height: 1px;
    left: 0px;
    transition: 0.5s;
}
.navbar-nav li:hover a::after {
    content: "";
    background: #dd5a5a;
    position: absolute;
    bottom: -19px;
    width: 100%;
    height: 1px;
    left: 0px;
    transition: 0.5s;
}
.navbar-nav li:last-child:hover a::after , .navbar-nav li:nth-child(4):hover a::after {
display:none
}
.navbar-nav li.active a::after {
    content: "";
    background: #dd5a5a;
    position: absolute;
    bottom: -19px;
    width: 100%;
    height: 1px;
    left: 0px;
    transition: 0.5s;
}
header ul li a {
    text-transform: uppercase;
    font-family: proxima_nova_rgregular;
    font-size: 15px;
    padding: 0px 0px !important;
    line-height: 35px !important;
	transition:0.5s;
letter-spacing: 0.5px;
	
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #dd5a5a;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #dd5a5a;
    background-color: transparent;

}
li.login a {
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff !important;
    width: 85px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}

li.login a:hover{
 background:#dd5a5a !important;
  border: 1px solid #dd5a5a;
}
header li.sign-up a:hover{
 background: transition;
  border: 1px solid #fff;
}
header li.sign-up a {
    background: #dd5a5a;
    color: #fff !important;
    border-radius: 4px;
    width: 110px;
    height: 35px;
    text-align: center;
    line-height: 35px;
	  border: 1px solid #dd5a5a;
}
.nav-indicatar {
    position: fixed;
  width: 130px;
    top: 50%;
    z-index: 99;
}

.nav-indicatar li {
    list-style: none;
    line-height: 23px;
}

.nav-indicatar li a::before {
    content: "";
    height: 1px;
    position: absolute;
    left: -60px;
    top: 6px;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    background: #dd5a5a;
    width: 0;
	    background: #dd5a5a;
}
.nav-indicatar li.indi-active a {
    margin-left: 50px;
}
li.indi-active a::before {
    width: 50px;
}
.nav-indicatar li a{
    list-style: none;
	color:#fff;
	font-size:12px;
	 font-family: proxima_nova_rgbold;
	 position:relative;
     transition: 0.5s;

}
body.fp-viewing-3 .nav-indicatar li.indi-active a::before, body.fp-viewing-4 .nav-indicatar li.indi-active a::before{
    background: #b99379;

}
body.fp-viewing-3 .nav-indicatar li a, body.fp-viewing-4 .nav-indicatar li a{
color:#959595;
}

.nav-indicatar li a:hover{
text-decoration:none;
}
.cust-container {
    max-width: 1500px;
    margin: auto;
}
.navbar-nav li {
    margin-right: 36px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

a.navbar-brand {
    padding: 0px;
    display: inline-block;
}
.navbar-brand>img {
    display: block;
    width: 170px;
    display: inline-block;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
    display: inline-block;
}

.navbar-nav li:nth-child(4){
    margin-right:16px;
}
.navbar-nav li:last-child{
    margin-right:0px;
}

div#bs-example-navbar-collapse-1 {
    padding: 0px;
}

/*header section css end here*/

/*middle section css */
.section.first {
    width: 100%;
    float: left;
    background-image: url(../img/slider.jpg);
 background-size: cover;
    background-attachment: fixed !important;
    background-repeat: no-repeat;
}


.first .m-inner-wrap h2{
  font-size: 65px;
   font-family: proxima_novalight;
  line-height: 0.369;
  text-align: center;
  color:#fff;
      margin-top: 150px;
}
 .m-inner-wrap h2{
  font-size: 65px;
   font-family: proxima_novalight;
  line-height: 0.369;
  text-align: center;

}
.m-inner-wrap h2 span{
    color:#dd5a5a;
}

.m-inner-wrap > p{
  font-size: 22px;
 font-family: proxima_novalight;
  color: rgb(255, 255, 255);
  line-height: 1.091;
  text-align: center;
      margin-top: 20px;
}

.section.first ul {
    width: 100%;
    float: left;
    text-align: center;
    padding: 0px;
    margin-top: 10px;
}
.section.first ul li:last-child p {
    color: #dd5a5a;
}

.section.first ul li p {
    font-family: proxima_novasemibold;
    font-size: 17px;
    width: 100%;
    float: left;
}
.section.first ul li:first-child {
    background: #dd5a5a;
    padding: 12px;
}

.section.first ul li {
    list-style: none;
    display: inline-block;
    width: 206px;
    padding: 12px;
    border-radius: 3px;
    margin: 0px 10px;
    transition: 0.5s;
}
.section.first ul li img {
    min-height: 44px;
    margin-bottom: 8px;
}

.section.first ul li:last-child {
    background: #fff;
}
.section.first ul li:first-child p {
    color: #fff;
}

.arrow-down {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 90px;
}
.arrow-down a {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 20px;
    height: 41px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.section.first ul li:last-child p {
    color: #dd5a5a;
}
.top-img img {
    width: 100%;
}
.section.third h2 {
    text-transform: uppercase;
    font-size: 20px;
    color: #dd5a5a;
  font-family: proxima_nova_rgbold;
    letter-spacing: 1px;
	margin-bottom:20px
}
.section.third  h5 {
    text-align: center;
    color: #2f2f2f;
    font-size: 21px;
    margin-top: 14px;
	font-family: proxima_nova_rgregular;
	    margin-bottom: 40px;
}


.three-sec {
    width: 100%;
    float: left;
    text-align: center;
}
.three-sec a:hover {
    background: #dd5a5a;
    text-decoration: none;
    color: #fff;
}
.three-sec a {
    background: #f8f8f8;
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    border-radius: 100px;
    color: #dd5a5a;
    font-size: 18px;
  font-family: proxima_nova_rgbold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.section.third {
    background: #f4f4f4 !IMPORTANT;
   
}

.get-started {
    background-image: url(../img/last-banner.jpg);
    width: 100%;
    float: left;
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;

}

.apply {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 71px;
}
.top-img {
    width: 100%;
    float: left;
   margin-top: 180px;
}
.three-sec p {
    color: #656565;
    font-size: 15px;
    line-height: 26px;
    font-family: proxima_nova_rgregular;
}

.text-center span {
    width: 35px;
    height: 35px;
    background: #b3b3b3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: 15px;
    color: #fff;
    border: 4px solid #ffffff;
    margin: auto;
  font-family: proxima_nova_rgbold;
    line-height: 30px;
    margin-top: -26px;
    z-index: 99;
    position: relative;
}
.three-sec figcaption {
    width: 100%;
    float: left;
    margin-top: 30px;
    padding: 0px 20px;
}

.three-sec figure img {
    height: 170px;
	position: relative;
    z-index: 1;

    margin-left: 30px;
}
.third div > div > div > div > div:nth-child(3) > figure::after, #fullpage > .third div > div > div > div > div:nth-child(3) > figure::before {
    display: none;
}

.three-sec figure::before {
    position: absolute;
    content: "\f105";
    background: #ffffff;
    right: -20px;
    bottom: 43%;
    z-index: 99;
    border-radius: 100px;
    width: 28px;
    height: 28px;
    font-family: FontAwesome;
    line-height: 30px;
    font-size: 21px;
    color: #f2f2f2;
}
.three-sec figure::after {
    z-index: 0;
    content: "";
    border: 1px dashed #fff;
    width: 290px;
    position: absolute;
    top: 90px;
    right: -119px;
}

figure {
    margin: 0;
    position: relative;
    z-index: 9;
}




.get-started h2{
    width: 100%;
    float: left;
    text-align: center;
  font-size: 20px;
  font-family: proxima_nova_rgbold;
  color: rgb(221, 90, 90);
  text-transform: uppercase;
  line-height: 1.25;
letter-spacing:2px;

}


.get-started h4{
    width: 100%;
    float: left;
    text-align: center;
  font-size: 28px;
    font-family: proxima_nova_rgregular;
  color: rgb(47, 47, 47);
  line-height: 1.143;

}


.get-started .button-start{
    background-color: #dd5a5a;
    width: 288px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-family: proxima_nova_rgregular;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    display: inline-block;
    border-radius: 100px;
    margin-top: 20px;
	transition:0.5s;
	 border: 1px solid #dd5a5a;
}
.get-started .button-start:hover {
    text-decoration: none;
    background: #fff;
    border: 1px solid #dd5a5a;
    color: #dd5a5a;
}


.carousel-control {
    top: 30%;
	    background-image: none !important;
    background: transparent;
}

.tow-dean .right-side {
    width: 70%;
    float: left;
    display: inline-block;
}
.tow-dean {
    width: 100%;
    float: left;
    bottom: 0px;
    z-index: 999;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
}
.carousel-inner .item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.tow-dean .left-side p {
    font-size: 19px;
    font-family: proxima_nova_rgregular;
    letter-spacing: 0.3px;
    margin-bottom: 0px;
}


.tow-dean .left-side {
    background: #dd5a5a;
    color: #fff;
    padding: 26px 38px;
    width: 30%;
    float: left;
}

.left-side h4::after {
    content: "";
    background: #eea4a4;
    position: absolute;
    width: 45px;
    left: 0px;
    height: 1px;
    bottom: -1px;
}

.tow-dean .left-side h4 {
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-bottom: 1px solid #e77c7c;
    padding-bottom: 10px;
    position: relative;
    font-family: proxima_novasemibold;
    margin-bottom: 12px;
}
.tow-dean .right-side > p {
    color: #fff;
    font-size: 20px;
    font-family: proxima_nova_rgregular;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
    padding-left: 30px;
}
.tow-dean .right-side h3 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    font-family: proxima_novalight;
    margin-top: 17px;
    margin-bottom: 0px;
    padding-left: 30px;
}
.tow-dean .right-side h3 b {
    font-family: proxima_nova_rgbold;
}
.tow-dean .right-side .location {
    background: #040405;
    float: left;
    width: 100%;
    margin-top: 15px;
}
.tow-dean .right-side .location p {
    color: #fff;
    font-size: 15px;
    margin-left: 30px;
    width: auto;
    float: left;
    font-family: proxima_nova_rgregular;
    letter-spacing: 1px;
    margin-bottom: 0px;
    line-height: 46px;
}
.location p i.fa.fa-map-marker {
    margin-right: 3px;
    color: #dd5a5a;
    font-size: 17px;
}
.tow-dean .right-side .location a:hover {
    background: #dd5a5a;
    text-decoration: none;
}
.tow-dean .right-side .location a {
    float: right;
    padding: 13px 20px;
    background: #393939;
    color: #fff;
    font-family: proxima_novalight;
    font-size: 15px;
    letter-spacing: 1px;
	transition:0.5s;
}

/*middle section css end here */

/*footer section css start here*/
footer {
    width: 100%;
    float: left;
    background: #272727;
    text-align: left;
}


footer h3 {
  font-size: 15px;
  font-family: proxima_nova_rgbold;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2;
  border-bottom:1px solid #4c4c4c;
  position:relative;
  letter-spacing:1px;
}
footer h3::after {
    content: "";
    background: #dd5a5a;
    position: absolute;
    left: 0px;
    width: 50px;
    height: 1px;
    bottom: -1px;
}
footer ul {
    width: 100%;
    float: left;
    padding: 0px;
	margin-top:10px;
	}

footer ul li {
    list-style: none;
}

footer ul li a:hover {
    color: #dd5a5a !important;
    text-decoration: none;
}

footer ul li a{
  font-size: 14px;
    font-family: proxima_nova_rgregular;
  color:#818181 !important;
  line-height: 2.143;
  transition:0.5s;
}
ul.social-icon .fa {
    font-size: 20px;
}
ul.social-icon li {
  
    display: inline;
    margin-right: 12px;
}
.copy-right {
    width: 100%;
    float: left;
    background: #151515;
    text-align: center;
    padding: 13px;
}

.copy-right p{
  font-size: 13px;
    font-family: proxima_nova_rgregular;
  color: rgb(129, 129, 129);
  line-height: 2.308;
margin-bottom:0px;
}

/*footer section css end here*/








/*listing page css start here*/
.listing-banner::before {
    content: "";
    background: rgb(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
}
.listing-banner {
    width: 100%;
    float: left;
    background: url(../img/listing.jpg);
  height: 620px;
    position: relative;
    text-align: center;
    background-size: 100%;
    border-bottom: 3px solid #dd5a5a;
	margin-bottom: 60px;
}

.listing-banner .banner-text {
    width: 100%;
    float: left;
    margin-top: 220px;
    position: relative;
    z-index: 1;
}
.listing-banner .banner-text h3 {
    font-size: 65px;
    color: #fff;
    font-family: proxima_novalight;
    line-height: 60px;
}

.listing-banner .banner-text select {
    width: 433px;
    height: 60px;
    font-size: 18px;
    color: #3e3e3e;
    padding-left: 9px;
    border-radius: 3px;
    border: none;
    font-family: proxima_nova_rgregular;
    margin-top: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../img/drop.png);
    background-repeat: no-repeat;
    background-position: right;

}
.listing-banner a {
    width: 40px;
    height: 40px;
    background: #dd5a5a;
    display: inline-block;
    line-height: 40px;
    font-size: 25px;
    color: #fff;
    border-radius: 100px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
      bottom: -18px;
}
.listing-middle {
    width: 100%;
    float: left;
	    padding-bottom: 30px;
}
.listing-middle .brooklyn {
    width: 100%;
    float: left;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 32px;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
}
.listing-middle .brooklyn:hover figure img {
    transform: scale(1.2);
}
.listing-middle figure {
    width: 100%;
    float: left;
}
figure.signl-img img {
    width: 100%;
    height: 572px;
}
figure.double-img img {
    width: 100%;
    height: 270px;
}
figure.three-img img {
    height: 372px;
}


.listing-middle .brooklyn figure img {
    width: 100%;
    float: left;
    position: relative;
    transition: 0.5s;
}
.listing-middle .brooklyn figcaption {
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 99;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listing-middle .second-se .brooklyn figcaption::after {
    height: 84%;
    width: 92%;

}
.listing-middle .brooklyn figcaption h4 {
    font-family: proxima_nova_rgregular;
    width: 100%;
    float: left;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
	    position: relative;
}

.listing-middle .brooklyn figcaption::after {
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 92%;
    width: 92%;
    content: "";
    border: 1px solid #ccc9;
}


.listing-middle .brooklyn figcaption::before {
    content: "";
    background: rgb(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
}
.listing-middle .brooklyn figcaption img {
    margin-bottom: 10px;
}

.apply-online .apply {
    position: relative;
    top: 0;
    text-align: center;
}

.apply-online {
    width: 100%;
    float: left;
}

.get-started.inner {
    background-image: url(../img/list-foot.png);
    width: 100%;
    float: left;
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 508px;
}
.get-started.inner h2 {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
    font-family: proxima_nova_rgbold;
    color: rgb(221, 90, 90);
    text-transform: uppercase;
    line-height: 1.25;
    letter-spacing: 2px;
    margin-top: 100px;
}
button:focus, button:hover, select:focus, select:hover{
outline:none;
}

/*listing page css end here*/


/*Development page css start here*/

.listing-banner.development {
    background: url(../img/deve.png);
    margin-bottom: 0px;
}
section#indicate {
    margin-top: 60px;
}
.listing-banner.development h3 {
    border-bottom: 1.3px solid #dd5a5a;
    width: 530px;
    display: inline-block;
    padding-bottom: 8px;
}
.listing-banner.development p{
    font-family: proxima_novalight;
    color: #fff;
    font-size: 23px;
    letter-spacing: 1px;
}
.deve-middle {
    width: 100%;
    float: left;
}

.deve-middle figure {
    width: 100%;
    float: left;
    box-shadow: 27px 10px 58px 0px #ececec;
    overflow: hidden;
}


.deve-middle .inner-detail {
    width: 100%;
    float: left;
    margin-bottom: 130px;
}
.deve-middle .inner-detail .right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 530px;
	    margin-left: 50px;
}
.deve-middle figure img {
    width: 100%;
    height: 530px;
	    transition: 0.5s;
}
.deve-middle figure img:hover {
    transform: scale(1.04);
}
.inner-detail > div {
    padding: 0px;
}
.inner-detail .right-side figcaption {
    width: 100%;
    float: left;
    padding-left: 40px;
    padding-right: 40px;
}

.right-side figcaption h3 {
    font-size: 50px;
    color: #4a423e;
    text-transform: uppercase;
    font-family: proxima_novasemibold;
    line-height: 48px;
    position: relative;
    margin-bottom: 30px;
    margin-top: 0px;
}
.right-side figcaption span {
    color: #dd5a5a;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 22px;
}
.right-side figcaption h3::before {
    content: "";
    background: #dd5a5a;
    height: 81%;
    width: 6px;
    position: absolute;
    top: 22px;
    left: -30px;
}
.right-side figcaption h4 {
    color: #656565;
    font-size: 20px;
    font-family: proxima_nova_rgbold;
    margin-bottom: 20px;
}

.right-side figcaption p {
    font-size: 15px;
    color: #656565;
    font-family: proxima_nova_rgregular;
	    line-height: 24px;
}
.right-side figcaption a {
    font-size: 18px;
    background: #dd5a5a;
    width: 280px;
    height: 55px;
    display: inline-block;
    text-align: center;
    line-height: 55px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 100px;
    margin-top: 20px;
    transition: 0.5s;
    font-family: proxima_nova_rgregular;
    letter-spacing: 1px;
	border: 1px solid #ccc;
}


.right-side figcaption a:hover {
    text-decoration: none;
    border: 1px solid #dd5a5a;
	color:#dd5a5a;
	 background: #fff;
}
.inner-detail:nth-child(even) {
    background: #f5f7f6;
    margin-bottom: 50px;
}
.inner-detail:nth-child(even) .right-side {
    padding-left: 80px;
}
.inner-detail:nth-child(even) figure {
    width: 100%;
    float: left;
    box-shadow: 0px 0px 20px 0px #ebebeb;
    position: relative;
    top: -50px;
}


/*Development page css end here*/

/*Development-listing page css start here*/

.deve-detail {
    width: 100%;
    float: left;
}

.detail-right {
    width: 100%;
    float: left;
    margin-top: 90px;
    padding-left: 50px;
}
.deve-detail .detail-left img {
    width: 100%;
    border-radius: 5px;
    height: 650px;
	transition:0.5s;
}
.deve-detail .detail-left figure:hover img {
    transform: scale(1.05);
}
.deve-detail .detail-left {
    width: 100%;
    float: left;
    margin-top: -120px;
}
.deve-detail .detail-right h3 {
    font-size: 50px;
    text-transform: uppercase;
    color: #4a423e;
    font-family: proxima_novasemibold;
    line-height: 40px;
}	
.deve-detail .detail-right h5 {
    font-size: 20px;
    color: #dd5a5a;
    font-family: proxima_novasemibold;
    line-height: 40px;
    margin-top: 12px;
}
.deve-detail .detail-right p {
    color: #656565;
    font-size: 15px;
    line-height: 23px;
    font-family: proxima_nova_rgregular;
    text-align: justify;
}
.detail-feature {
    width: 100%;
    float: left;
    text-align: center;
    background: #f4f4f4;
    margin-top: 60px;
    padding-bottom: 130px !important;
    padding: 50px 0;
}
.detail-feature h3 {
    font-family: proxima_nova_rgbold;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    color: #dd5a5a;
    margin-top: 20px;
}

.detail-feature p {
    font-size: 21px;
    font-family: proxima_nova_rgregular;
    color: #2f2f2f;
}
.detail-feature ul li {
    list-style: none;
    display: inline-block;
    background: #fff;
    width: 15.6%;
    margin: 4px;
    transition: 0.5s;
    padding: 18px;
	    border: 1px solid #fff;
}
.detail-feature ul li:hover {
    border: 1px solid #dd5a5a;
}
.detail-feature ul li h4 {
    font-family: proxima_nova_rgbold;
    text-transform: uppercase;
    font-size: 16px;
    color: #dd5a5a;
    margin-top: 0px;
}
.detail-feature ul li h6 {
    font-size: 18px;
    color: #4d4d4d;
    font-family: proxima_nova_rgbold;
}
.detail-feature ul {
    width: 100%;
    float: left;
    padding: 0px;
    margin-top: 20px;
}
.detail-feature .vist-site {
    background: #dd5a5a;
    display: inline-block;
    padding: 13px 52px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-family: proxima_nova_rgregular;
    border-radius: 100px;
    margin-top: 30px;
    letter-spacing: 1px;
    transition: 0.5s;
	    border: 1px solid #dd5a5a;
}
.detail-feature .vist-site:hover {
    border: 1px solid #dd5a5a;
    background: #fff;
    text-decoration: none;
	    color: #dd5a5a;
}
.deve-detail.second-view .detail-left {
    width: 100%;
    float: left;
    margin-top: -70px;
}

.detail-right ul li {
    list-style: none;
    display: inline-block;
    width: 49%;
    margin-top: 40px;
}
.detail-right ul {
    width: 100%;
    padding: 0px;
}

.ability {
    width: 100%;
    float: left;
    background: #f4f4f4;
    padding: 50px 0;
	text-align: center;
	margin-top: 50px;
}
.ability h3 {
    font-family: proxima_nova_rgbold;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    color: #dd5a5a;
    margin-top: 0px;
}
.ability h4 {
    font-size: 21px;
    font-family: proxima_nova_rgregular;
    color: #2f2f2f;
    margin-bottom: 40px;
}
.ability .ability-inner {
    width: 100%;
    float: left;
	transition: 0.5s;
    background: #fff;
	    margin-bottom: 10px;
}
.ability-inner figcaption .rental ul li a:hover {
    color: #dd5a5a;
    text-decoration: none;
}
.ability-inner figcaption .heart-sec a {
    text-decoration: none;
}


.ability .ability-inner:hover figure img {
    transform: scale(1.08);
}
.ability .ability-inner figure img {
    width: 100%;
    height: 211px;
    transition: 0.5s;
}.ability .ability-inner figure {
    overflow: hidden;
}
.deve-detail .detail-left figure {
    overflow: hidden;
    transition: 0.5s;
}
.ability-inner figcaption .heart-sec {
    position: absolute;
    right: 20px;
    margin-top: -29px;
    z-index: 99;
}.ability-inner figcaption {
    width: 100%;
    float: left;
    position: relative;
    padding: 0px 20px;
    text-align: left;
}
.ability-inner figcaption h2 {
    font-size: 20px;
    color: #4a423e;
    font-family: proxima_nova_rgbold;
    margin-top: 25px;
}

.ability-inner figcaption .rental ul {
    width: 100%;
    float: left;
    padding-left: 0px;
    border-bottom: 2px solid #f4f4f4;
    margin-bottom: 20px;
    border-top: 2px solid #f4f4f4;
    padding: 10px 0px;
}
figcaption .rental ul li {
    list-style: none;
    display: inline-block;
}
.ability-inner figcaption .rental ul li a {
    color: #807d7b;
    font-family: proxima_novasemibold;
    font-size: 14px;
}

.ability-inner figcaption .rental p {
    width: 100%;
    float: left;
    color: #807d7b;
    font-family: proxima_novasemibold;
    font-size: 14px;
}


.ability-inner figcaption .rental p span {
    float: right;
    text-transform: capitalize;
}

.ability-inner .price h6 {
    color: #252525;
    font-size: 20px;
    font-family: proxima_nova_rgbold;
}
.ability-inner .price {
    width: 100%;
    float: left;
    background: #e9e9e9;
    text-align: center;
    margin-top: 20px;
}

.ability-inner figcaption .heart-sec a {
    background: #dd5a5a;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    display: inline-block;
    box-shadow: 0px 0px 20px 0px #dd5a5a;
    text-align: center;
    color: #fff;
    font-family: proxima_nova_rgbold;
    font-size: 15px;
    line-height: 17px;
	    cursor: default;
}

figcaption .rental ul li:nth-child(2) {
    margin: 0px 11px;
}
.ability-inner figcaption .heart-sec a .fa.fa-heart-o {
    margin-top: 9px;
}

/*Development-listing page css end here*/
